<div class="d-grid gap-2 d-md-flex justify-content-center mt-2">
  <a href="/create-blog"><button
      type="button"
      class="btn btn-info"
      id="create-btn"
    >Create Blog</button></a>
</div>