{{#if isLoggedIn}}
{{> private-navbar}}
{{> create-new-blog}}
{{else}}
{{> public-navbar}}
{{/if}}
<div class="text-center">
  <h1>Tech Blogs</h1>
  <hr />
{{#if isLoggedIn}}
{{#each blogs}}
{{> blog-cards}}
{{/each}}
{{else}}
  <h3>If you can't Blog, Tech Blog can...</h3>
    <h4>Sign up / Log in to see blogs!</h4>
{{/if}}
</div>