{{#if isLoggedIn}}
{{> private-navbar}}
{{else}}
{{> public-navbar}}
{{/if}}
<div class="position-absolute top-50 start-50 translate-middle text-center">
  <h1>Tech Blog</h1>
  <h3>If you can't Blog, Tech Blog can...</h3>
</div>